body {
  margin: 0;
}

.expanding-sidebar {
  height: 300px;
  width: 500px;
  display: grid;
  grid-template-columns: 50px auto;
  transition: all 0.3s ease;
}

.left {
  background: red;
}

.right {
  border: 1rem solid rgb(0 0 0 / 10%);
}

.expanding-sidebar:has(.left:hover) {
  grid-template-columns: 30% auto;
}

/* 分割线 */

.magic-grid {
  display: grid;
  width: 100%;
  grid-template: 1fr 1fr / 1fr 1fr;
  transition: grid-template 300ms;
}

.item {
  --i: 0.5rem;
  --c1: deeppink;
  --c2: orange;

  background: repeating-linear-gradient(
    var(--a, 45deg),
    var(--c1),
    var(--c1) var(--i),
    var(--c2) var(--i),
    var(--c2) calc(var(--i) * 2)
  );
  display: grid;
  place-items: center;
  grid-template: 1fr / 1fr 0;
  overflow: hidden;
  transition: all 0.3s;
}

.item p {
  background: black;
  color: white;
  padding: 0.5rem 0.75rem;
  font-size: clamp(1.1rem, 5vmin, 2.8rem);
  transition: all 300ms;
}

.item:hover {
  grid-template: 1fr / 1fr 1fr;
  transition: all 0.3s;
}

.item:hover img {
  transition: all 0.3s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms;
  pointer-events: none;
  -webkit-user-drag: none;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.muffins,
.cookies {
  --c2: darkorchid;
  --p: 50% 100%;
  background: repeating-radial-gradient(
    circle at var(--p),
    var(--c1),
    var(--c1) var(--i),
    var(--c2) var(--i),
    var(--c2) calc(var(--i) * 2)
  );
}

.cookies {
  --p: 50% 0;
  --c1: cornflowerblue;
}

.pastries {
  --a: -45deg;
  --c1: cornflowerblue;
  --c2: turquoise;
}

.magic-grid:has(.cupcakes:hover) .item:not(.cupcakes),
.magic-grid:has(.muffins:hover) .item:not(.muffins),
.magic-grid:has(.cookies:hover) .item:not(.cookies),
.magic-grid:has(.pastries:hover) .item:not(.pastries) {
  filter: grayscale(10%) brightness(250%) contrast(30%);
}

.magic-grid:has(.cupcakes:hover) .item:not(.cupcakes) p,
.magic-grid:has(.muffins:hover) .item:not(.muffins) p,
.magic-grid:has(.cookies:hover) .item:not(.cookies) p,
.magic-grid:has(.pastries:hover) .item:not(.pastries) p {
  opacity: 0;
}

.magic-grid:has(.cupcakes:hover) {
  grid-template: 2fr 1fr / 2fr 1fr;
}
.magic-grid:has(.muffins:hover) {
  grid-template: 2fr 1fr / 1fr 2fr;
}
.magic-grid:has(.cookies:hover) {
  grid-template: 1fr 2fr / 2fr 1fr;
}
.magic-grid:has(.pastries:hover) {
  grid-template: 1fr 2fr / 1fr 2fr;
}

/* 分割线 */

.box-wrapper {
  border: 1px solid black;
  margin: 5%;
  height: 300px;
  display: grid;
  overflow: hidden;
  animation: slideAround 10s infinite alternate linear;
}

.move-box {
  height: 100px;
  place-self: flex-end;
  width: 100px;
  background-color: black;
  animation: colorShift 10s 250ms infinite both linear;
}

@keyframes slideAround {
  0% {
    grid-template-columns: 70% 1fr;
    grid-template-rows: 100px 1fr;
  }
  25% {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100% 1fr;
  }
  50% {
    grid-template-columns: 50% 1fr;
    grid-template-rows: 100px 1fr;
  }
  75% {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 70% 1fr;
  }
  100% {
    grid-template-columns: 100% 1fr;
    grid-template-rows: 100% 1fr;
  }
}
@keyframes colorShift {
  0%,
  24% {
    background-color: #f23337;
  }
  25%,
  49% {
    background-color: #64f82a;
  }
  50%,
  74% {
    background-color: #317cff;
  }
  75%,
  99% {
    background-color: #64f82a;
  }
  100% {
    background-color: #f23337;
  }
}
